@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/css/uikit-rtl.css" rel="stylesheet" type="text/css" />
<link href="~/css/uikit.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/uikit.css" rel="stylesheet" type="text/css" />
<link href="~/css/uikit.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/js/uikit.js"></script>
<script type="text/javascript" src="~/js/uikit-icons.js"></script>


<legend class="uk-legend uk-text-bold uk-text-warning uk-text-italic">Welcome to Buzzerr!</legend>


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.UserEmail" class="control-label"></label>
                <input asp-for="Student.UserEmail" class="form-control" />
                <span asp-validation-for="Student.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Password" class="control-label"></label>
                <input asp-for="Student.Password" class="form-control" />
                <span asp-validation-for="Student.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign in" class="uk-button uk-button-primary uk-button-small" />
                <input type="submit" value="Log in" class="uk-button uk-button-secondary uk-button-small" />
            </div>
        </form>
    </div>
</div>